In [ ]:
pwd

In [1]:
import global_gauges as gg

In [2]:
f = gg.GaugeDataFacade()
print(f)

GaugeDataFacade
  Data Directory: /nas/cee-water/cjgleason/data/global_gauges/data
  Active Providers:
    eccc: Base Provider Class
    abom: Base Provider Class
    usgs: Base Provider Class
    hubeau: French hydrologic service
    ukea: Base Provider Class

In [4]:
gdf = f.get_station_info()

/nas/cee-water/cjgleason/ted/global_gauges/global_gauges/global_gauges.py:166: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(provider_info)

In [5]:
gdf

,name,area,active,latitude,longitude,last_updated,min_date,max_date,min_discharge,max_discharge,mean_discharge,count_discharge,provider_misc,geometry,provider
site_id,,,,,,,,,,,,,,,
ECCC-01AA002,DAAQUAM (RIVIERE) EN AVAL DE LA RIVIERE SHIDGEL,598.0,False,46.557499,-70.081108,2025-06-16,NaT,NaT,NaN,NaN,NaN,NaN,None,POINT (-70.08111 46.5575),eccc
ECCC-01AD001,MADAWASKA (RIVIERE) A 6 KM EN AVAL DU BARRAGE ...,2690.0,False,47.548328,-68.636391,2025-06-16,NaT,NaT,NaN,NaN,NaN,NaN,None,POINT (-68.63639 47.54833),eccc
ECCC-01AD002,SAINT JOHN RIVER AT FORT KENT,14700.0,True,47.258060,-68.595833,2025-06-16,NaT,NaT,NaN,NaN,NaN,NaN,None,POINT (-68.59583 47.25806),eccc
ECCC-01AD003,ST. FRANCIS RIVER AT OUTLET OF GLASIER LAKE,1350.0,True,47.206581,-68.955551,2025-06-16,2023-11-16,2025-06-16,2.604028,178.451389,24.050785,579.0,None,POINT (-68.95555 47.20658),eccc
ECCC-01AD004,SAINT JOHN RIVER AT EDMUNDSTON,15500.0,True,47.360779,-68.324890,2025-06-16,NaT,NaT,NaN,NaN,NaN,NaN,None,POINT (-68.32489 47.36078),eccc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKEA-351221005,Tilley Bridge,NaN,True,50.891450,0.361642,2025-06-16,1950-03-15,2025-06-14,0.005000,11.600000,0.255189,27351.0,{'guid': '3c4c5ec6-39cf-4b33-bef4-52c36d33db86'},POINT (0.36164 50.89145),ukea
UKEA-4047,Blyth Oldcotes,NaN,True,53.381220,-1.077358,2025-06-16,1970-09-01,2025-06-14,0.078000,55.070000,0.740030,20004.0,{'guid': 'fc26adc8-491a-4f56-a5a0-20d775dc0c7a'},POINT (-1.07736 53.38122),ukea
UKEA-2884,Burlington - Worfe,NaN,True,52.695461,-2.324363,2025-06-16,1999-05-26,2025-06-14,0.001000,0.819000,0.053862,9102.0,{'guid': 'c8d339ae-22a7-413e-90d5-ef4884026eba'},POINT (-2.32436 52.69546),ukea
UKEA-ST21F003,Yalham Farm,NaN,False,50.928684,-3.112434,2025-06-16,1969-04-17,2025-01-29,0.002000,0.095000,0.004588,19773.0,{'guid': '88be649b-6ea9-4daa-b81b-7767cbc5b995'},POINT (-3.11243 50.92868),ukea
UKEA-444210,Dewlish Woodsdown Cross,NaN,True,50.800836,-2.320113,2025-06-16,2024-06-09,2025-06-14,0.035000,1.370000,0.145237,371.0,{'guid': 'b293b286-39db-4edc-97dc-d3e4df1a5ef7'},POINT (-2.32011 50.80084),ukea

In [ ]:
df = f.get_daily_values('UKEA-351221005')

/tmp/ipykernel_3012333/1823612217.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(df['quality_flag'][0])

str

In [ ]:
._download_daily_values(